.task-content{
    margin-left: 15px;
    margin-top: 15px;
    border: 1px solid #d9d9d9;
}
.title{
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #9e9e9e;
    padding: 0 50px;
    box-sizing: border-box;
}
.scroll-box{
    padding: 10px;
    box-sizing: border-box;

}
.scroll-box .item{
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}