*{
  padding: 0;
  margin: 0;
}
.mianDiv{
  display: flex;
}
.leftDiv{
  padding: 50px 50px;
  width: 15%;
  height: 1000px;
  background-color: rgb(207, 207, 207);
  line-height: 50px;
}
.topNav{
  padding: 20px 50px;
}
.topNav ul li {
  line-height: 50px;
}

.videoContent{
  padding: 20px 50px;
}
